.Burger {
   width: 100%;
   margin: auto;
   height: .75rem;
   overflow: scroll;
   text-align: center;
   font-weight: 700;
   font-size: 1.2rem;
}

@media(min-width: 1000px) and (min-height: 700px) {
   .Burger {
      width: .5rem;
      height: .5rem;
   }
}

@media(min-width: 500px) and (min-height: 401px) {
   .Burger {
      width: .4rem;
      height: .4rem;
   }
}
@media(min-width: 500px) and (min-height: 400px) {
   .Burger {
      width: .4rem;
      height: .385rem;
   }
}